<div class="container">
<p style="color: green;"><strong>EDIT</strong> your movie list</p>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
<br>
  <colspan-2>
        <%= link_to "Back to ALL", lists_path(@list), class: "btn btn-primary" %>
        <%= link_to "DELETE", list_path(@list), class: "btn btn-danger" %>
</colspan-2>
</div>
