<div class="container">
          <%= link_to "NEW", new_list_path(@lists), class: "btn btn-success" %>

    <% @lists.each do |list| %> <br>
    <div class="card w-50 my-3 text-center" style="width: 20vh;">
        <h5 class="card-title"><%= list.name.upcase %></h5>
      <div>
        <%= list.photo.attached? ? cl_image_tag(list.photo.key) : cl_image_tag(style="width:10px;"'https://clipground.com/images/popcorn-vector-clipart-5.png') %>
      </div>
      <div class="tenor-gif-embed" data-postid="26404903" data-share-method="host" data-aspect-ratio="1.32231" data-width="100%"><a href="https://tenor.com/view/popcorn-guy-relaxing-popcorm-popcorn-gif-26404903">Popcorn Guy Relaxing GIF</a>from <a href="https://tenor.com/search/popcorn+guy-gifs">Popcorn Guy GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<colspan-3>
        <%= link_to "DETAILS", list_path(list), class: "btn btn-primary" %>
        <%= link_to "EDIT", edit_list_path(list), class: "btn btn-warning" %>
        <%= link_to "DELETE", list_path(list), class: "btn btn-danger" %>
</colspan-3>

      </div>
  <% end %>
</div>
