<!DOCTYPE html>
<html>
  <head>
    <title>Rails Watch List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

    <body>
      <div class="container">
          <h1> Rails Watch List</h1>
      </div>

      <div>
        <%= yield %>
      <div>
    </body>
  </html>
